

<div class="padding item">
<div class="container">
    <form action="action_page.php font">
  
      <label for="fname" class="font">Nombre</label>
      <br>
      <input type="text" id="fname" name="firstname" placeholder="Tu nombre completo" style="width: 500px;">
      <br>
      <label for="lname" class="font">Correo</label>
      <br>
      <input type="text" id="lname" name="lastname" placeholder="Correo electronico" style="width: 500px;">
      <br>
      <label for="subject" class="font">Comentario</label>
      <br>
      <textarea id="subject" name="subject" placeholder="Escribe algo" style="height:200px; width: 500px;"></textarea>
      <br>
      <input type="submit" value="Submit">
  
    </form>
  </div>
</div>
