<div>
  <nav>
    <div class=" row">
      <a href="#!" class="brand-logo col l2 push-l1">
        <img src="../../../assets/Resources/logoJU.png" id="logo">
      </a>
 
<div class="valign-wrapper row textStyle">
        <a href="#" class="col  l5  push-l2 white-text">Descubre</a>
        <a href="#" class="col  l5  white-text">Comunidad</a>
        <a href="contact" class="col  l4  pull-l2 white-text">Contacto</a>
        <a href="productos" class="col  l2  pull-l3 white-text">Merch</a>
        <div class="col  l2  pull-r3 rigth "><img src="../../../assets/Resources/log.png" class="logIcon"></div>

      </div>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

  </nav>
</div>


