

<div class="row">
    
<div class="col l14">

    <div id="div1">
        <div class="vertical-menu padding">
          <a href="#">Camisetas</a>
          <a href="#">Hodies</a>
          <a href="#">Gorras</a>
          <a href="#">Otros</a>
        </div>
        </div>

<div id="div2">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
</div>

    </div>

</div>
